spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/gautam-sol-arch/config-server.git
          username: gautam-sol-arch
          password: ${GIT_TOKEN}
          default-lebel: main
  datasource:
    driverClassName: org.h2.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
gateway:
  security:
    internal-secret: ${GATEWAY_SECRET}
jwt:
  secret: ${JWT_SECRET:h9KQeY7+u3ZKJ7q5Q+7+5fQyR2hQZ2z3r0C5FZkH4aE=}

